.manageSpecialty {
  margin: 16px 30px 30px;
  &__title {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 12px 0;
    font-weight: bold;
    color: #27ae60;
  }
  &__content {
    margin-bottom: 8px;
  }
}
