.detailSpecialty {
  margin-top: 90px;
  &__description {
    padding: 0 90px;
  }
  &__content {
    background-color: #eee;
    padding: 20px 90px 10px;
    &__filterLocation {
      width: 200px;
      margin-bottom: 12px;
    }
  }
  &__item {
    display: flex;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-radius: 8px;
    margin-bottom: 10px;
    &__doctorInfor {
      flex: 1;
      padding: 16px;
    }
    &__schedule {
      flex: 1;
      padding: 16px;
      border-left: 1px solid #eee;
      &__time {
      }
      &__address {
        margin-top: 13px;
        border-top: 1px solid #eee;
        padding-top: 10px;
      }
    }
  }
}
