.manageDoctor {
  margin: 16px 30px 30px;
  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #27ae60;
  }
  &__info {
    &__left {
    }
    &__right {
      &__content {
        width: 100%;
        outline: none;
        resize: none;
      }
    }
  }
  &__editor {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
