.doctorExtraInfor {
  width: 90%;
  &__up {
    &__title {
      text-transform: uppercase;
      font-size: 14px;
      color: #666;
      font-weight: bold;
    }
    &__nameClinic {
      font-weight: bold;
    }
    &__addressClinic,
    &__nameClinic {
      font-size: 13px;
      padding: 3px 0;
    }
  }
  &__down {
    border-top: 1px solid #eee;
    .firstBlock {
      display: flex;
      gap: 4px;
      margin: 6px 0;
      &__title {
        text-transform: uppercase;
        font-size: 14px;
        color: #666;
        font-weight: bold;
      }
      &__price {
        color: #000;
        // text-transform: ;
      }
      &__show {
        cursor: pointer;
        color: #27ae60;
        text-transform: unset;
      }
    }
    .secondBlock {
      &__title {
        text-transform: uppercase;
        font-size: 14px;
        color: #666;
        font-weight: bold;
        margin: 6px 0;
      }
      &__price {
        display: flex;
        justify-content: space-between;
        border: 1px solid #ddd;
        background-color: #f8f8f8;
        padding: 4px;

        span {
        }
      }

      &__payment {
        border: 1px solid #ddd;
        background-color: #eeeeee;
        padding: 4px;
      }
      &__hide {
        cursor: pointer;
        color: #27ae60;
        margin-top: 8px;
      }
    }
  }
}
