.login-background {
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 500px;
  background-color: #fff;
  border-radius: 16px;
  // display: flex;
  padding: 36px;

  .login-content {
    .login-content-heading {
      text-align: center;
    }
  }
}

.form-group {
  font-size: 20px;
  margin-top: 12px;
  .custom-password {
    position: relative;
    i {
      position: absolute;
      top: 12px;
      right: 12px;
    }
  }
}

.form-control {
  font-size: 18px;
  margin-top: 8px;
}

.btn-login {
  text-align: center;
  width: 100%;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  margin-top: 24px;
  font-size: 16px;
  height: 46px;
  outline: none;
  border: none;
  // &:hover {
  //   background: red;
  // }
}

.social-login {
  display: flex;
  justify-content: space-around;
  .btn-face,
  .btn-google {
    font-family: Raleway-Bold;
    font-size: 16px;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - 10px) / 2);
    height: 40px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    text-decoration: none;
    color: #000;
    gap: 10px;
  }
  .btn-face:hover {
    border: 1px solid #0a82ed;
  }
  .btn-google:hover {
    border: 1px solid #e94235;
  }
}

.other-login-text {
  margin: 24px;
  font-weight: 600;
  font-style: italic;
}
