.footerSection {
  border-top: 1px solid #ddd;
  // position: absolute;
  // bottom: 0;
  // right: 0;
  // left: 0;
  // width: 100%;

  &__bigBlock {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 30px;
    background: #efefef;
    &__about {
      &__logo {
        // max-width: 200px;
        cursor: pointer;
        display: flex;
        align-items: center;
        i {
          font-size: 28px;
          color: #e74c3c;
          margin-right: 4px;
        }
        &__text {
          font-family: "Shantell Sans", cursive;
          cursor: pointer;
          text-transform: uppercase;
          font-weight: 800;
          font-style: oblique;
          font-size: 24px;
          color: #27ae60;
        }
      }
      &__name {
        font-weight: bold;
        margin: 8px 0;
      }
      &__address {
        i {
          margin-right: 6px;
        }
      }
    }
    &__contact {
      list-style-type: none;
      color: #27ae60;
      li {
        cursor: pointer;
        margin-bottom: 8px;
      }
    }

    &__support {
      div {
        font-weight: bold;
      }
    }
  }
  &__smallBlock {
    display: flex;
    height: 58px;
    width: 100%;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
    background-color: #27ae60;
    &__copyright {
      color: #fff;
    }
    &__social {
      i {
        font-size: 32px;
        margin: 0 6px;
      }
    }
  }
}
