@import "../../styles/common.scss";

.header-container {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  background-color: $colormain;
  color: $common-text-color;
  height: 40px;
  position: relative;
  .btn-logout {
    color: $common-text-color;
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
    &:hover {
      background-color: darken($colormain, 5);
    }
    i {
      font-size: $base-size + 1px;
    }
  }
}

.header-blockRight {
  display: flex;
  align-items: center;
  justify-content: center;
  .language {
    margin-right: 20px;
    margin-left: 20px;
    .language-vi {
      margin-right: 10px;
    }
    // .language-en {
    //   cursor: pointer;
    // }

    .language-en,
    .language-vi {
      cursor: pointer;
      &.active {
        color: yellow;
      }
    }
  }
}
